<head>
  <!-- JS principal -->
  <!-- <script src="{{ url_for('static', filename='js/sacola.js') }}"></script> -->

  <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
  <script src="{{ url_for('static', filename='js/motion.js') }}"></script>
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search_real_time.js') }}"></script>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}PDV - Leandro Celulares {% endblock %}</title>
  <!-- CSS principal -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/painel.css') }}">
  {# Espaço para CSS extra por página #} {% block extra_css %}{% endblock %}

</head>